<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="UTF-8">
    <title>LifePath</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/png" href="/images/logos/personnagesansfondombre.png">
</head>

<body>
{# Navbar #}
{% include 'style_base/_navbar.twig' %}
{# Header #}
{% include 'style_base/_header.twig' %}
<section>
    <!-- A propos -->
    <article class="apropos-container">
        <div class="forme-apropos">
            <h2 class="apropos-title" id="apropos">À propos</h2>
            <p class="apropos-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of 
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            </p>
            <button class="apropos-bouton" onclick="window.location.href= 'contact'">-></button>
        </div>
    </article>

    <!-- Offers -->
    <h2 class="offers-header" id="offres">Offres</h2>

    <div class="offre-global-container">
            {% for offre in offers %}
				<article class="offre-container">
                    <img src="images/entreprise.jpg" alt="image de l'offre" class="offre-img">
                    <h2> {{ offre.titre|default(offre.intitule|default('Offre de stage')) }} </h2>
				    <ul class="offre-ul">
                        <li class="offres-li"> Poste : {{ offre.poste|default('Non précisé') }} </li>
                        <li class="offres-li">Entreprise : {{ offre.entreprise|default('Non précisée') }} </li>
                        <li class="offres-li">Lieu : {{ offre.lieu|default(offre.localisation|default('Non précisé')) }} </li>
                        <li class="offres-li">Niveau : {{ offre.niveau|default('Non précisé') }}</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis inventore excepturi corrupti hic, harum perferendis</p>
                    <a href="/entreprise?id={{ offre.id_entreprise|default(0) }}" class="btn-postuler">Voir la fiche entreprise</a>
                </article>
			{% else %}
				<p>Aucune offre disponible pour le moment.</p>
			{% endfor %}
    </div>
    <!-- Comptes -->
    <h2 class="compte-title" id="compte">Comptes</h2>
    <section class="comptes-carousel">
            <div class="carousel-compte">
                <div class="comtes-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/Ehouarn.jpg" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/Davy.jpg" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/Noah.jpg" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/Titouan.jpg" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/Maëlyne.jpg" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
                <div class="compte-item">
                    <div class="compte-label"><img  class="nav-profile-icon" src="images/profils/profile.png" alt="logo lifePath"> jean jeans</div>
                </div>
            </div>
    </section>
    <!-- Entreprise -->
    <h2 class="entreprise-title" >Entreprise</h2>
    <section class="entreprise-carousel">
            <div class="carousel-entreprise">
                {% for company in companies %}
                <div class="entreprise-item">
                    <div class="offre-card">
                        <img src="images/entreprise.jpg" alt="Titre de l'offre" class="offre-card-img">
                        <div class="offre-card-info">
                            <h3 class="offre-card-title">{{ company.nom }}</h3>
                            <div class="offre-card-meta">{{ company.ville }} • {{ company.note}}</div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>Aucune entreprise disponible pour le moment.</p>
                {% endfor %}
                <div class="entreprise-item">
                    <div class="offre-card">
                        <img src="images/entreprise.jpg" alt="Titre de l'offre" class="offre-card-img">
                        <div class="offre-card-info">
                            <h3 class="offre-card-title">Titre de l'offre de stage</h3>
                            <div class="offre-card-meta">3.5 ★ • St Nazaire • Bac +5</div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>
{# Footer #}
{% include 'style_base/_footer.twig' %}
<script src="/script.js"></script>
</body>

</html>